form.needs-validation(method="post" action="/personal/change-password" novalidate)
    .d-grid.m-auto(style="max-width:400px")
        .form-label-group
            input#newPassword.form-control(name="newPassword" type="password" placeholder="Mật khẩu mới" autocomplete="off" minlength="6" required)
            label(for="newPassword") Mật khẩu mới
            .invalid-feedback Mật khẩu mới là bắt buộc
        .form-label-group
            input#newPassword2.form-control(name="newPassword2" type="password" placeholder="Nhập lại mật khẩu mới" autocomplete="off" maxlength="50" required)
            label(for="newPassword2") Nhập lại mật khẩu mới
            .invalid-feedback Nhập lại mật khẩu mới không đúng
        .form-label-group
            input#oldPassword.form-control(name="oldPassword" type="password" placeholder="Xác nhận bằng mật khẩu cũ" autocomplete="off" maxlength="50" required)
            label(for="oldPassword") Xác nhận bằng mật khẩu cũ
            .invalid-feedback Mật khẩu cũ là bắt buộc
    .d-grid.m-auto(style="max-width:400px")
        button.btn.btn-block.btn-brown(type="submit") Cập nhật
