extends ./layout.pug
block content
	main.col-md-9.ms-sm-auto.col-lg-10.px-md-4
		.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom.flex-column.flex-lg-row
			h1.h3.mb-0= pI.title
			.btn-toolbar.mt-2.mb-mt-0
		nav
			#nav-tab.nav.nav-tabs(role='tablist')
				button#nav-banner-tab.nav-link.text-secondary(data-bs-toggle='tab' data-bs-target='#nav-banner' type='button' role='tab' aria-controls='nav-banner' aria-selected='true') Banner
				button#nav-paymentmethod-tab.nav-link.text-secondary(data-bs-toggle='tab' data-bs-target='#nav-paymentmethod' type='button' role='tab' aria-controls='nav-paymentmethod' aria-selected='false') Hình thức thanh toán
				button#nav-shopinfo-tab.nav-link.text-secondary(data-bs-toggle='tab' data-bs-target='#nav-shopinfo' type='button' role='tab' aria-controls='nav-shopinfo' aria-selected='false') Thông tin cửa hàng
			#nav-tabContent.tab-content
				#nav-banner.tab-pane.fade.p-3(role='tabpanel' aria-labelledby='nav-banner-tab')
					include ./banner.pug
				#nav-paymentmethod.tab-pane.fade.p-3(role='tabpanel' aria-labelledby='nav-paymentmethod-tab')
					include ./paymentmethod.pug
				#nav-shopinfo.tab-pane.fade.p-3(role='tabpanel' aria-labelledby='nav-shopinfo-tab')
					include ./shopinfo.pug

