if materials.length == 0
	.h4.fw-normal.text-center Cập nhật số lượng NVL bằng cách thêm 
		a(href="#" rel="switch-tab" data-to="#nav-mtrbatch-tab") Đợt nhật NVL
else
	.h4.fw-normal.text-center Chưa có Đợt nhập nguyên vật liệu!