extends ./layout.pug
block content
	- var mainimgsize = 500
	- var subimgsize = 70
	main.col-md-9.ms-sm-auto.col-lg-10.px-md-4
		.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom.flex-column.flex-lg-row
			h1.h3.mb-0= pI.title
			.btn-toolbar.mt-2.mb-mt-0
		nav
			#nav-tab.nav.nav-tabs(role='tablist')
				button#nav-material-tab.nav-link.text-secondary(data-bs-toggle='tab' data-bs-target='#nav-material' type='button' role='tab') Thống kê nguyên vật liệu
				button#nav-product-tab.nav-link.text-secondary(data-bs-toggle='tab' data-bs-target='#nav-product' type='button' role='tab') Thống kê sản phẩm
				button#nav-order-tab.nav-link.text-secondary(data-bs-toggle='tab' data-bs-target='#nav-order' type='button' role='tab') Thống kê đơn đặt hàng
				button#nav-revenue-tab.nav-link.text-secondary(data-bs-toggle='tab' data-bs-target='#nav-revenue' type='button' role='tab') Thống kê doanh thu
			#nav-tabContent.tab-content
				#nav-material.tab-pane.fade.p-3(role='tabpanel' aria-labelledby='nav-material-tab')
					include ./s_material.pug
				#nav-product.tab-pane.fade.p-3(role='tabpanel' aria-labelledby='nav-product-tab')
					include ./s_product.pug
				#nav-order.tab-pane.fade.p-3(role='tabpanel' aria-labelledby='nav-order-tab')
					include ./s_order.pug
				#nav-revenue.tab-pane.fade.p-3(role='tabpanel' aria-labelledby='nav-revenue-tab')
					include ./s_revenue.pug



